NEXT_PUBLIC_WORDPRESS_GRAPHQL_URL=
NEXT_PUBLIC_WORDPRESS_REST_URL=

# Firebase Contact Form Fallback Configuration (Optional)
FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
FIREBASE_COLLECTION=

# WordPress Authentication (NUR FÜR DEN SERVER, kein NEXT_PUBLIC!)
WORDPRESS_API_USERNAME=
WORDPRESS_API_PASSWORD=
